<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <title>登录</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/"> </link>

    

    <!-- Bootstrap core CSS -->
    <script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css"></link>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css"></link>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/own/signin.css}" type="text/css"></link>
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form>
    <img class="mb-4" th:src="@{/own/imgs/login-logo.png}" alt="" width="72" height="57"/>


    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="用户名"/>
      <label for="floatingInput">用户名</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="密码"/>
      <label for="floatingPassword">密码</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

  </body>
</html>
